extends layout

block headScripts

block bodyScripts

block content

  form(role="form", id="forgotPasswordForm", method="post")
    .modal.fade(id='forgotPasswordFormModal' tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal") &times;
            h4.modal-title Forgot Password
          .modal-body

              - if (error != undefined)
                .alert.alert-danger(role="alert") #{error}

              .form-group
                div
                  input(type="hidden" name="_csrf" value=`${csrfToken}`)

              .form-group
                label.control-label(for="password") Enter in the email address you signed up with and we will send you a temporary password:
                div
                  input.form-control.input-md(id="email", name="email", placeholder="Email Address", type="email", required)           
      
              .col-xs-12(style="height:15px;")
      
              .form-group
                button(class="btn btn-default btn-md" data-dismiss="modal") Cancel
                | &nbsp;&nbsp;&nbsp;&nbsp;
                button(class="btn btn-primary btn-md" type="submit") Submit

  .login
    br
    br

    .container
      .row
        .col-md-6.col-md-offset-1
          .center-form
            .panel-body
              h1.form-title= pageHeader.header


              form(role="form", id="loginFormID", action="/login", method="post")

                - if (error != undefined)
                  .alert.alert-danger(role="alert") #{error}

                .form-group
                  div
                    input(type="hidden" name="_csrf" value=`${csrfToken}`)

                .form-group
                  label.control-label.sr-only(for="email") Email Address
                  div
                    input.form-control.input-md(id="email", name="email", placeholder="Email Address", type="email", required, autofocus)

                .form-group
                  label.control-label.sr-only(for="password") Password
                  div
                    input.form-control.input-md(id="password", name="password", placeholder="Password", type="password", required)

                div
                  button(type="submit", class="btn btn-primary btn-md") Submit


              div(style='height:30px')
              
              div
                i
                  a(href="" data-toggle="modal" data-target="#forgotPasswordFormModal") Forgot your password?
    br
    br
